<div class="container-fluid">
  <div class="container ">
   <div class="text-center py-2">
    <h2 class="text-home fs-1 fw-bolder pt-4">CONATCT SECTION</h2>
    <div class="star px-3 py-2 "><i class="fa-solid fa-star  text-home  "></i></div>
   </div>

    <form action="" class="w-50 m-auto py-4" >

      <div class="my-input-container">
        <label for="" class="form-control opacity-0 label-name animate__animated">userName :</label>
        <input type="text" name="" id="" class="form-control " (input)="showLabel($event)" placeholder="userName">
      </div>

      <div class="my-input-container">
        <label for="" class="form-control opacity-0 label-name animate__animated">userAge :</label>
        <input type="text" name="" id="" class="form-control"  (input)="showLabel($event)" placeholder="userAge">
      </div>

      <div class="my-input-container">
        <label for="" class="form-control opacity-0 label-name animate__animated">userEmail :</label>
        <input type="text" name="" id="" class="form-control"  (input)="showLabel($event)" placeholder="userEmail">
      </div>

      <div class="my-input-container pb-3">
        <label for="" class="form-control opacity-0 label-name animate__animated">userPassword :</label>
        <input type="text" name="" id="" class="form-control"  (input)="showLabel($event)" placeholder="userPassword">
      </div>


      <button class="btn btn-contact text-white">Send Massage</button>

    </form>
  </div>

</div>
