.star{
  position: relative;
  width: fit-content;
  margin: auto;
}
.text-home{
  color: #2C3E50 !important;
}
.star::after{
  content: "";
  position: absolute;
  width: 100px;
  height: 4px;
  right: 100%;
  top: 50%;
  background-color: #2C3E50;
}
.star::before{
  content: "";
  position: absolute;
  width: 100px;
  height: 4px;
  left: 100%;
  top: 50%;
  background-color: #2C3E50;
}

label{
  border: none;
  color: #1ABC9C;
}

input{
  border: none;
  border-bottom: 1px solid #0000001e;
  border-radius: 0;
}

.form-control:focus{
  border: none;
  outline: none;
  box-shadow: none;
  border-bottom: 1px solid #0000001e;

}

.btn-contact{
  background-color: #1ABC9C;
}

.my-input-container{
  height: 75px;
  margin: 15px 0;

}
