.home{
  background-color: #1ABC9C;
}

.star{
  position: relative;
  width: fit-content;
  margin: auto;
}
.star::after{
  content: "";
  position: absolute;
  width: 100px;
  height: 4px;
  right: 100%;
  top: 50%;
  background-color: #fff;
}
.star::before{
  content: "";
  position: absolute;
  width: 100px;
  height: 4px;
  left: 100%;
  top: 50%;
  background-color: #fff;
}

.home-img{
  width: 250px;
}
